*{
    font-family: 'Ephesis', cursive;
}
*.box{
    color: purple;
}

#div2{
    color: yellow;
}

header{
    text-align: center;
    background-color: yellow;
}
h2{
    text-decoration: purple wavy underline;
    text-align: center;
}
h3{
    background-color: yellow;
}
p{
    display:block;
}
.box{
    border-style:dashed;
    
    border-width:2in;
    border-radius: 20px;
}

#Agenda{
    border-style:dashed;
    border-color:red;
    border-width:2in;
    border-radius: 20px;
}

#div1{
    border-style:dashed;
    border-color:orange;
    border-width:2mm;
    border-radius: 2px;
    display: inline;
}

#div2{
    border-style:dashed;
    border-color:orangered;
    border-width:50vw;
    border-radius:50vh;
}
#div3{
    border-style:dashed;
    border-color:teal;
    border-width:2in;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: center;
    align-items: center;
}
#div4{
    border-style:dashed;
    border-color:burlywood;
    border-width:2in;
    border-radius: 20px;
    display:grid;
    display: inline-grid;

    grid-row-gap: 50px;
    column-gap: 100px;
    
}
#div5{
    border-style:dashed;
    border-color:blue;
    border-width:2in;
    border-radius: 20px;
    display: grid;
    
}

#title{
    height: 10px;
    width: 10px;
    max-width: none;
    max-height: none;

}

#date{
    position: absolute;
    top: 100px; 
    left: 100px;

}

#member{
    position:relative;
    top: 50;
    left: 150;
}

button:hover{
    color: red;
}

button:active{
    color: green;
}

button{
    margin-left: 100px;
}

#field{
    margin:200px;
}

#video{
    width: 1500px;
    padding-right:200px;
    
}

#audio{
    width: 100px;
    padding-bottom: 200px;
    margin:auto;
    display: block;
}

#AI{
    width: 100px;
    margin:auto;
}

@media (any-hover: hover) {
    p:hover {
      background: yellow;
    }
  }

p[target="detailsP"]{
    background: blue;
}

ul li{
    background: grey;
}
ol > li{
    background:royalblue;
}

div + p{
    background: #00A36C;
}

p ~ p{
    background: red;
}

hr, div {
    border: green 5px solid;
  }

#field .rice{
    background: pink;
  }