#div2{
    color: yellow;
}

header{
    text-align: center;
}
h2{
    text-decoration: purple wavy underline;
    text-align: center;
}
h3{
    background-color: yellow;
}

.box{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}

#Agenda{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}

#div1{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}

#div2{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}
#div3{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}
#div4{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}
#div5{
    border-style:dashed;
    border-color:violet;
    border-width:2in;
    border-radius: 20px;
}